[[source]]
verify_ssl = true
url = "https://pypi.python.org/simple"

[dev-packages]
ipython = "*"
pep8 = "*"
pytest = "*"
pytest-console-scripts = "*"
pytest-docker = "*"
pytest-pylint = "*"
recommonmark = "*"
sphinxcontrib-programoutput = "*"
sphinxcontrib-restbuilder = "*"
yapf = "*"
autopep8 = "*"
sphinx = "*"

[packages]
ujson = "*"
aiohttp = "*"
jsonrpcclient = "*"
jsonrpcserver = "*"
toolz = "*"
websockets = "*"
cchardet = "*"
uvloop = "*"
funcy = "*"
sqlalchemy = "*"
aiomysql = "*"

[requires]
python_version = "3.5"
