[[source]]
verify_ssl = true
url = "https://pypi.python.org/simple"

[requires]
python_version = "3.6"

[packages]
ujson = "*"
aiohttp = "*"
jsonrpcclient = "*"
jsonrpcserver = "*"
toolz = "*"
websockets = "*"
cchardet = "*"
uvloop = "*"
aiomysql = "*"
cryptography = "*"
http-ece = "*"
requests = "*"
py-vapid = "*"
pywebpush = "*"
python-dateutil = "*"
sendgrid = "*"
twilio = "*"
premailer = "*"
sqlalchemy = "*"
"jinja2" = "*"
aiojobs = "*"
structlog = {extras = ["dev"]}
colorama = "*"
structlog-pretty = {extras = ["fast"]}
"psycopg2" = "*"
aiopg = "*"
pylru = "*"
click = "*"
steem = "*"
asyncpg = "*"
serpy = "*"

[dev-packages]
ipython = "*"
"pep8" = "*"
pytest = "*"
pytest-console-scripts = "*"
pytest-docker = "*"
pytest-pylint = "*"
pytest-cov = "*"
pytest-asyncio = "*"
recommonmark = "*"
yapf = "*"
"autopep8" = "*"
docker = "*"
isort = "*"
autoflake = "*"
pre-commit = "*"
asynctest = "*"
pytest-mock = "*"
pylint = "*"
ipdb = "*"
