[[source]]
verify_ssl = true
url = "https://pypi.python.org/simple"

[requires]
python_version = "3.6"

[packages]
ujson = "*"
aiohttp = "*"
jsonrpcclient = "*"
jsonrpcserver = "*"
websockets = "*"
cchardet = "*"
uvloop = "*"
cryptography = "*"
http-ece = "*"
requests = "*"
python-dateutil = "*"
sendgrid = "*"
twilio = "*"
premailer = "*"
"jinja2" = "*"
structlog = {extras = ["dev"]}
colorama = "*"
"psycopg2" = "*"
pylru = "*"
click = "*"
steem = "*"
asyncpg = "*"
serpy = "*"
cytoolz = "*"
rpc-auth-py = {git = "git@github.com:steemit/rpc-auth-py.git", editable = true}
sqlalchemy = "*"
python-rapidjson = "*"
aiodns = "*"

[dev-packages]
ipython = "*"
"pep8" = "*"
pytest = "*"
pytest-console-scripts = "*"
pytest-docker = "*"
pytest-pylint = "*"
pytest-cov = "*"
recommonmark = "*"
yapf = "*"
"autopep8" = "*"
docker = "*"
isort = "*"
autoflake = "*"
pre-commit = "*"
asynctest = "*"
pytest-mock = "*"
pylint = "*"
ipdb = "*"
pytest-asyncio = "*"
