; this is intended as a template for connecting to a remote DB server running MySQL during development
; CAUTION - never ever ever ever put real credentials into this file and commit it to public git repo
;           instead, COPY this file, change yo_db_url below and then run using the -c param to bin/steemyo

[yo_general]
log_level=DEBUG
db_url=mysql+pymysql://db_username:db_password@db_hostname:/yo?host=db_hostname ; edit this in copy

[http]
listen_host=0.0.0.0
listen_port=8080

[blockchain_follower]
start_block= ; by default we want to just start from the latest block
enabled=1
steemd_url=https://testnet.steem.vc ; for running on testnet
url=:local:

[notification_sender]
enabled=1
url=:local:

[api_server]
enabled=1
allow_testing=1 ; left on default, we want to be able to compare the results with and without test=True

[database]
provider=     ; this is ignored due to using yo_db_url above
init_schema=1 ; always try to setup the DB schema on startup
init_data=    ; if set, this is a JSON file to load default data from

; this whole section is ignored, set db_url above or use YO_DB_URL environment variable
[mysql]
database=
username= 
password=

[vapid]
pub_key=   ; left blank by default, use YO_VAPID_PUB_KEY to override, if left blank new keys will be generated on startup
priv_key=  ; left blank by default, use YO_VAPID_PRIV_KEY to override, if left blank new keys will be generated on startup
contact=mailto:test@example.com ; override with YO_VAPID_CONTACT

[sendgrid]
priv_key=
